.bar-title {
  font-family: 'roboto';
  font-size: 16px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bar-bg {
  background-color: #1c1c2b;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
}
.loader-sec {
  display: flex;
  justify-content: center;
}
